:root {
  --light-bg-color: #fff;
  --dark-bg-color: #000;
}
body {
  font-family: 'Open Sans', Arial;
  background: var(--light-bg-color);
  color: #333;
  font-size: 16px;
  line-height: 1.5em;
}
h2 {
  margin: 0;
  font-family: Tinos;
  font-size: 3.3125em;
  font-weight: 600;
  line-height: 1.3em;
}
h2 small {
  font-size: 75%;
}
h3 {
  font: bold 2.5em 'Open Sans';
  line-height: 1.3em;
  margin: 0 0 3.125rem 0;
}
h3 small {
  font-size: 60%;
}
h3 span {
  font-size: 60%;
}
dl {
  display: flex;
  align-items: flex-end;
  margin: 0;
  position: relative;
  line-height: 1.5em;
}
dl:after {
  content: '';
  height: 1px;
  width: 100%;
  border: none;
  position: absolute;
  left: 0;
  bottom: 4px;
  z-index: 1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1' width='900'%3E%3Cpath stroke='%23d2d2d2' stroke-width='1' stroke-dasharray='7,4' d='M5 0 l915 0' /%3E%3C/svg%3E");
  background-position: 0 0;
  background-repeat: repeat-x;
}
dt {
  flex-grow: 1;
  font: bold 20px 'Open Sans';
}
dt span {
  background: var(--light-bg-color);
  position: relative;
  z-index: 2;
  padding: 0 6px 0 0;
}
dt small {
  font-size: 70%;
  font-weight: normal;
}
dd {
  margin: 0;
  font: bold 25px Tinos;
}
dd span {
  background: var(--light-bg-color);
  padding: 0 0 0 6px;
  position: relative;
  z-index: 2;
}
canvas {
  margin-top: 30px;
}

.body {
  width: 95%;
  max-width: 1200px;
  margin: 50px auto 140px;
}
.relative {
  position: relative;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.flex-grow {
  flex-grow: 1;
}
.capitalize {
  text-transform: capitalize;
}

.new-sales {
  color: #980f0f;
}
#new-sales * {
  color: inherit;
}

.orders-block {
  max-width: 420px;
}
.orders-block time {
  font: italic 17px Tinos;
  font-weight: bold;
  padding-right: 30px;
  line-height: 30px;
}
.order-item {
  display: flex;
  margin-bottom: 10px;
}
.order-title {
  font: bold 20px 'Open Sans';
  display: flex;
  color: #222;
  align-items: baseline;
}
.order-title small {
  font-size: 16px;
  font-weight: bold;
}
.order-price {
  font-family: 'Open Sans';
  font-size: 15px;
  font-style: normal;
}
.order-price strong {
  font-size: 20px;
}
.order-origin {
  font: italic 15px Tinos;
  font-weight: bold;
  line-height: 22px;
  color: #888;
}
.item-summary {
  margin-bottom: 20px;
}
.two-cols > section {
  width: 50%;
}
.info-block > section,
section.info-block {
  margin-bottom: 9rem;
}
.error {
  color: rgb(163, 4, 4);
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.average {
  margin-top: 40px;
}
.average,
.estimate {
  font-weight: 500;
  font-style: italic;
}
.countdown-block {
  position: absolute;
  right: 0;
  top: 0;
  padding: 40px;
  text-align: right;
  font-size: 13px;
  line-height: 1.5em;
}
.countdown-block div span:first-child {
  color: #999;
  font-size: 15px;
}
.countdown-block div span:last-child {
  color: #333;
  font-size: 17px;
}
.loading {
  overflow: hidden;
}
.loading #loader {
  display: flex;
}
.loading .body,
.loading .countdown-block {
  filter: blur(5px);
}
#loader {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
#loader img {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
}
@media (max-width: 768px) {
  .two-cols {
    flex-direction: column;
  }
  .two-cols > section {
    width: 100%;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2em;
  }
  .info-block > section,
  section.info-block {
    margin-bottom: 5rem;
  }
  .countdown-block {
    position: relative;
  }
  .body {
    margin-top: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body,
  dt span,
  dd span {
    background: var(--dark-bg-color);
    color: #bbb;
  }
  h2 {
    color: #eee;
  }
  h3 {
    color: #ccc;
  }
  dl:after {
    opacity: 0.5;
  }
  .order-title span,
  dt span {
    color: #eee;
  }
  .new-sales h2 {
    color: inherit;
  }
  .countdown-block div span:last-child {
    color: #eee;
  }
  #loader {
    background: rgba(0, 0, 0, 0.9);
  }
}
